/* HorizontalScrollingTextBar.css */

.horizontal-scrolling-text-bar {
  width: 100%;
  overflow: hidden;
  height: 60px;
  background-color: #7C7C7C;
  display: flex;
  align-items: center;
}
  
.text-container {
  display: flex;
  animation: animateScroll 60s linear infinite; /* Adjust the duration */
  white-space: nowrap; 
}

.scrolling-text {
  margin-right: 200px; /* Adjust spacing between texts */
  color: #FF91FB;
}

.separator {
  display: inline-block;
  width: 100px; /* Adjust this value for more spacing */
}

@keyframes animateScroll {
  from{
    transform: translateX(calc(100vw));
  }
  to {
    transform: translateX(calc(-100%));
  }
  
}