html, body, #root {
  height: 100%;
  font-family: Consolas, monaco, monospace; /* Apply the code font family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, monaco, monospace; /* This is redundant if the body is already using this font */
}